{% load static %}
<!doctype html>
<html lang="pl">
  <head>
    <meta charset="utf-8">

    <title>{% block title %}{% endblock %} | Concerts Finder</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
  </head>

  <body>

    <div class="text-center cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <a href="/main" class="navbar-brand brand">
                Concerts Finder
          </a>
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
                <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url "main-page" %}">Strona główna</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url "choose-finder" %}">Znajdź koncert</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'list-of-dreamconcerts' %}">Chcę koncert</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'city-concerts-finder' %}">Miasta</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'top-concerts' %}">TOP 10</a>
                    </li>
                    <li class="nav-item">
                         {%  if user.is_authenticated %}
                             <a class="nav-link" href="#">
                                Wyloguj z:<br>
                                 {{ user.username }}
                             </a>
                          {% else %}
                              <a class="nav-link" href="#">Zaloguj</a>
                          {% endif %}
                    </li>
                  </ul>
                </nav>
                <br>
        </div>
      </header>

      <main role="main" class="inner cover">
      <div>
          {% block content %}
          {% endblock %}
{#        <h1 class="cover-heading">Cover your page.</h1>#}
{#        <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>#}
{#        <p class="lead">#}
{#          <a href="#" class="btn btn-lg btn-secondary">Learn more</a>#}
{#        </p>#}
      </div>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Made by Agata Orzechowska</p>
        </div>
      </footer>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
