{% extends 'base.html' %}
{% block title %}
    Choose Finder
{% endblock %}

{% block content %}
<h1 class="cover-heading">Znajdź koncert</h1>
<p>
    <a class="btn btn-dark btn-lg btn-block" href="{% url 'artist-concerts-finder' %}" role="button">WG ARTYSTY</a>
    <a class="btn btn-dark btn-lg btn-block" href="{% url 'band-concerts-finder' %}" role="button">WG ZESPOŁU</a>
    <a class="btn btn-dark btn-lg btn-block" href="{% url 'date-concerts-finder' %}" role="button">WG DATY</a>
</p>
{% endblock %}