{% extends 'base.html' %}
{% block title %}
    Choose Finder
{% endblock %}

{% block content %}
<h2 class="cover-heading">Znajdź koncert:</h2> </br>
<p><a class="btn btn-dark btn-lg btn-block" href="{% url 'artist-concerts-finder' %}" role="button">WG ARTYSTY</a> </p>
<p><a class="btn btn-dark btn-lg btn-block" href="{% url 'band-concerts-finder' %}" role="button">WG ZESPOŁU</a> </p>
<p><a class="btn btn-dark btn-lg btn-block" href="{% url 'date-concerts-finder' %}" role="button">WG DATY</a> </p>
{% endblock %}

{% block footer %}
<footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Made by Agata Orzechowska</p>
    </div>
</footer>
{% endblock %}