{% extends 'base.html' %}

{% block title %}
    Like Dream Concert
{% endblock %}

{% block content %}
<br>
<h5>
    <p>Wszyscy chcemy tego koncertu !!</p>
    <p>Pokażmy, ile nas jest !</p>
</h5>
<h3 class="p-3 mb-4 bg-dark">
<p>{{ concert.city }}</p>
<p>
  {% if concert.persons %}
  {% for p in concert.persons.all %}
  {{ p.name }} <br>
  {% endfor %}
{% endif %}
{% if concert.bands %}
  {% for b in concert.bands.all %}
  {{ b.name }} <br>
  {% endfor %}
{% endif %}
</p>
</h3>
<h4>
    Ten koncert ma: {{ concert.likes.count }} lajków
</h4>

<form class="lead" action="{% url 'dreamconcert-likes' concert.id %}" method="post">
    {% csrf_token %}
    <input class="btn btn-danger btn-lg" type="submit" value="Lubię to!">
</form>
<br>
<p class="lead">
  <a href="{% url 'list-of-dreamconcerts' %}" class="btn btn-lg btn-dark">Wróć do koncertów marzeń</a>
</p>
{% endblock %}

{% block footer %}
<footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Made by Agata Orzechowska</p>
    </div>
</footer>
{% endblock %}