{% extends "base.html" %}
{% block title %}
    Top Concerts
{% endblock %}
{% block content %}


        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col">Miasto</th>
              <th scope="col">Koncert</th>
              <th scope="col">Data</th>
              <th scope="col">Głosy</th>
              <th scope="col"></th>
            </tr>
          </thead>
          {% for c in concerts %}
          <tbody>
            <tr>
              <td>{{ c.city }}</td>
              <td>{{ c.name }}</td>
              <td>{{ c.start_date }}</td>
              <td>{{ c.likes.count }}</td>
              <td><a class="btn btn-danger" href="{% url 'concert-details' c.id %}" role="button">Szczegóły</a></td>
            </tr>
            {% endfor %}
        </table>

    <p class="lead">
        <a href="{% url 'main-page' %}" class="btn btn-lg btn-danger">Powrót do strony głównej</a>
    </p>

{% endblock %}
